* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: rgb(0, 0, 0);
}


a,a:hover{
  outline: none;
  text-decoration: none;
  color: #f8f8f8;
  }

::-webkit-scrollbar {
  background: #444444;
  width: 1em;
}
    
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.1em rgba(12, 12, 12, 0.4);
  border-radius: 1em;
}
    
::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #000000, #181818);
  border-radius: 1.2em;
}
    
.wrapper {
  max-width: 87.5em;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1.875em;
}

.page-title {
  margin-top: 3.125em;
  margin-bottom: 6.25em;
  text-align: center;
  font-size: 2.875em;
  color: #222222;
}

.curd {
  width: fit-content; 
  border-radius: 1em;
  background: #222222;
  box-shadow: 0 0 0.625em rgba(255, 255, 255, 0.1);
}

.curd .title {
  color: #ffffff;
  width: 22rem;
  height: 0.5rem;
  text-align: center;
}

.card {
  width: 90%;
  padding: 1.25em;
  border-radius: 1.25em;
  background: #222222;
  box-shadow: 0 0 0.625em rgba(255, 255, 255, 0.1);
  margin-bottom: 3.125em;
}

.cardin {
  width: 20%;
  padding: 1.25em;
  border-radius: 1.25em;
  background: rgba(34, 34, 34, 0.678);
  box-shadow: 0 0 0.625em rgba(255, 255, 255, 0.1);
  margin-bottom: 3.125em;
}

.cardin .title {
  font-size: 2em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1.25em;
  text-align: center;
}

.cardin .text {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5;
  color: #ffffff;
}

.card .title {
  font-size: 2em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1.25em;
}
  
.card .text {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.5;
  color: #ffffff;
  width: 92%;

}

.my-block {
  display: block;
  text-decoration: none;
}
.my-block:hover {
  border: 1px solid rgb(236, 236, 199);
}

.margin-top {
  margin-top: 1.875rem;
}

.wrapp {
  width: 50%;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
}

.wrappo {
  width: 60%;

  margin-top: 1%;
  margin-left: 1%;
  margin-right: 30%;
}

.wrappo .wrappo-text {
  width: 90%;
}

.download-button {
  bottom: 10px;
  margin-left: 45%;
  margin-right: 31%;
}

.project-card {
  width: 20rem;
  height: 33.33333rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background: #222222ad;
  box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
  margin-bottom: 3.125rem;
}
  
.project-card .title {
  margin-top: 0.625rem;
  font-size: 1.5625rem;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.img-title {
  width: 15rem;
  margin-left: 0.625rem; 
  margin-right: 0.625rem;
}

.center {
  margin: 0 auto;
  margin-top: 1.875rem;
  width: 50%;
}

.button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #66ff66;
  color: ghostwhite;
}

.button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.button:hover span {
  color: black;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button:hover::before {
  transform: translate3d(100%, 0, 0);
}

.nasad {
  margin-top: 1.5rem;
  margin-left: 10%;
}

.vpered {
  float: right;
  margin-top: 1.5rem;
  margin-right: 10%;
  
}

.ranobe-title {
  margin-top: 0.625em;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;  
  font-size: 2.25rem; 
  line-height: 2.625rem; 
  text-transform: uppercase;
  text-shadow: 0 0.125em white, 0 0.188em #777; 
}

.slide.active {
  display: block;
}

.slide {
  display: none;
}

#blocks-container {
  display: none;
}

.slides .slide {
  display: none;
}

.slides .slide.active {
  display: block;
}

.cssbuttons-io-button {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(31, 30, 34) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #1c1c1dbe;
  letter-spacing: 0.05em;
  border-radius: 20em;
 }
 
 .cssbuttons-io-button svg {
  margin-right: 8px;
 }
 
 .cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #222224be;
 }
 
 .cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #28272cbe;
 }

.btn-up {
  position: fixed;
  background-color: #222222;
  right: 20px;
  bottom: 20px;
  border-radius: 33px;
  cursor: pointer;
  width: 66px;
  height: 66px;
}


.btn-up::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 18px;
  top: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #131313; /* цвет заднего фона при наведении */
  }
}

.img-ranobe {
  object-fit: contain;
}
